<h2>Deseja remover este usuário?</h2>

<div *ngIf="user">
    <label for=""> Id:
        <span>{{user.id}}</span>
    </label>
    <br>
    <label for=""> Nome:
        <span>{{user.first_name}}</span>
    </label>
    <br>
    <label for=""> Sobrenome:
        <span>{{user.last_name}}</span>
    </label>
    <br>
    <label for=""> Emprego:
        <span>{{user.job}}</span>
    </label>
    <p><button (click)="delete()">Confirmar</button>
    <button (click)="cancel()">Cancelar</button></p>
</div>